ion-content{
  --background: linear-gradient(0deg, rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.1)),
   url(image-bg.jfif) no-repeat center center / cover;
}
.container {
  text-align: center;
  transform: translateY(-100%);
}

.border{
  top: 20%;
  left: 10%;
  position: absolute;  
  height: 500px;
  width: 350px;
  background-color: white;
  border-radius: 10px;
}

#cmnd{
  left: 8%;
  text-align: left;
  border: 0px;
  border-bottom: 1px solid darkgrey;
  width: 300px;
}

#login{
  border: 1px solid orange;
  border-radius: 7px;
  font-size: 15px;
  height: 40px;
  width: 300px;
  margin-top: 30px;
  color: orange;
}

#login:hover{
  color: white;
  background-color: darkorange;
  border-color: white;
}

.head{
  background-color: orange;
  height: 150px;
  width: 350px;
  border-radius: 10px;
}

.box-cicle{
  height: 200px;
  width: 200px;
  border-radius: 50%;
  background-image: url(image-1.png);
  background-repeat: no-repeat;
  background-position: 50% 20%;
  background-color: white;
  transform: translate(35%, -40%);
}