<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Blank
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Blank</ion-title>
    </ion-toolbar>
  </ion-header>
  <div id="border">
  <div id="head">
    
  </div>
  <div id="box-cicle">
    
    </div>
  <div id="container">
    <input type="text" placeholder="Chứng minh nhân dân" id="cmnd">
    <br>
    <button id="login">ĐĂNG NHẬP</button>
  </div>
</div>
</ion-content>
